<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookscriptor - email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="margin:0;padding:0;">

<table style="background-color:#f3f6f8;width:100%;height:100%;margin:0 auto;border-spacing:0;" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table style="width:600px;margin:0 auto;border-spacing:0;" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <td align="center" >
                        <img src="https://image.ibb.co/m4asff/logo-2x.png" alt="logo" style="width:151px;height:36px;margin-left:auto;margin-right:auto;margin-top:40px;margin-bottom:32px;">
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="background-color:#ffffff;border-radius:10px;padding-top:40px;padding-bottom:40px;padding-right:0;padding-left:0;">
                        <h1 style="font-family:TrebuchetMS;font-size:32px;font-weight:bold;line-height:1.19;letter-spacing:normal;color:#000000;text-align:center;margin:0;">Здравствуйте!</h1>
                        <p style="font-family:OpenSans;font-size:16px;padding-top:32px;padding-bottom:0;padding-left:40px;padding-right: 40px;margin:0;">Спасибо за регистрацию на нашем сайте.</p>
                        <p style="font-family:OpenSans;font-size:16px;padding-top:32px;padding-bottom:0;padding-left:40px;padding-right: 40px;margin:0;">
                            Ваш логин: <span style="font-weight:bold;">user@user.com</span>
                            <br>
                            Ваш пароль: <span style="font-weight:bold;">rrggdd33</span>
                        </p>
                        <p style="font-family:OpenSans;font-size:16px;padding-top:32px;padding-bottom:32px;padding-left:40px;padding-right: 40px;margin:0;">Чтобы завершить регистрацию и вернуться к приобретению книги, пожалуйста, подтвердите email:</p>
                        <div style="width:100%;text-align:center;">
                            <button type="submit" style="width:238px;height:48px;border-radius:2px;background-color:#7ccb26;color:#ffffff;font-family:OpenSans;font-size:16px;text-transform:uppercase;cursor:pointer;">Подтвердить email</button>
                        </div>
                        <div style="width:452px;height:2px;background-color:rgba(0, 0, 0, 0.1);padding:0;margin-top:48px;margin-bottom:52px;margin-left:auto;margin-right:auto;"></div>

                        <table style="width:100%;padding-top:0;padding-bottom:0;padding-right:40px;padding-left:40px;border-spacing:0;margin:0;">
                            <tr>
                                <td align="center" valign="top" style="width:160px;padding:0;margin:0;">
                                    <img style="width:92px;height:92px;" src="https://image.ibb.co/ifCY30/group-2x.png" alt="">
                                    <p style="padding:0;margin:0;opacity:0.65;font-family:OpenSans;font-size:14px;line-height:1.57;letter-spacing:normal;text-align:center;color:#000000;">Книги новых авторов</p>
                                </td>
                                <td align="center" valign="top" style="width:160px;padding:0;margin:0;">
                                    <img style="width:92px;height:92px;" src="https://image.ibb.co/hEgwqf/group-8-2x.png" alt="">
                                    <p style="padding:0;margin:0;opacity:0.65;font-family:OpenSans;font-size:14px;line-height:1.57;letter-spacing:normal;text-align:center;color:#000000;">Бесплатный онлайн-редактор, который создает из рукописи книгу</p>
                                </td>
                                <td align="center" valign="top" style="width:160px;padding:0;margin:0;">
                                    <img style="width:92px;height:92px;" src="https://image.ibb.co/eYajbL/group-9-2x.png" alt="">
                                    <p style="padding:0;margin:0;opacity:0.65;font-family:OpenSans;font-size:14px;line-height:1.57;letter-spacing:normal;text-align:center;color:#000000;">Печать от 1 экземпляра</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <p style="width: 520px;padding:0;margin-top:54px;margin-right:auto;margin-left:auto;margin-bottom:62px;font-family:OpenSans;font-size:14px;line-height:1.57;letter-spacing:normal;text-align:center;color:rgba(0, 0, 0, 0.4);">
                            Вы получили письмо, т.к. этот email был введен при регистрации на сайте digital-издательства Bookscriptor. Если Вы не оставляли свой email, просто проигнорируйте это письмо.
                        </p>
                    </td>
                </tr>
                <table style="margin:0 auto;padding: 0;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a href="#" style="padding:0;margin:0;width:40px;height:40px;text-transform:none;">
                                <img style="padding:0;margin:0;width:40px;height:40px;" src="https://image.ibb.co/d7j2wL/group-3-copy-3-2x.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#" style="padding:0;margin:0 12px;width:40px;height:40px;text-transform:none;">
                                <img style="padding:0;margin:0;width:40px;height:40px;" src="https://image.ibb.co/kRLQGL/group-5-2x.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="#" style="padding:0;margin:0;width:40px;height:40px;text-transform:none;">
                                <img style="padding:0;margin:0;width:40px;height:40px;" src="https://image.ibb.co/e5ijAf/group-6-2x.png" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
                <table style="padding: 0;margin:0 auto;width:600px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" valign="top" style="padding:0;margin:0;">
                            <p style="padding:0;margin:0;margin-top:24px;font-family:OpenSans;font-size:16px;line-height:1.63;color:rgba(0, 0, 0, 0.4);">Ваш Bookscriptor</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="padding:0;margin:0;">
                            <img style="width:30px;height:42px;margin-top:24px;margin-bottom:80px;" src="https://image.ibb.co/k2oFi0/logo-copy-2x.png" alt="">
                        </td>
                    </tr>
                </table>
                </tfoot>
            </table>
        </td>
    </tr>
</table>


</body>
</html>
